/*Import Google Font's Package.*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;900&display=swap");

/*colour Variables*/
:root {
  --light: #ecfffb;
  --primary: #2d767f;
  --darkblue: #1e6262;
  --skyblue: #b4f1f1;
}

/*Root styles for the page, Reset browser added styles.* {} targets all HTML elements.*/
* {
  margin: 0;
  padding: 0;
  border: none;
}
/*Body Styling*/
body {
  font-family: Roboto, Sans-serif;
  color: var(--primary);
  font-weight: 300; /*This needs checking.*/
  background-color: var(--light);
}
/*Typography Styling*/
h1,
h2,
h3 {
  font-family: Lato, sans-serif;
  color: var(--primary);
  letter-spacing: 4px;
  text-transform: uppercase;
}
/*Remove default Hyperlink styling.*/
a {
  text-decoration: none;
}
/*Styling for header*/

#logo {
  font-size: 260%;
  float: left;
  padding-left: 1.6rem;
}
#header-nav,
#logo {
  line-height: 75px;
}
#header-nav ul {
  float: right;
}
#header-nav li {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  float: left;
  padding-left: 1.6rem;
  list-style-type: none;
}
#contact-us a {
  color: #ecfffb !important;
}
#header-nav a {
  color: #2d767f;
  text-decoration: none;
}
#header-nav #contact-us {
  background-color: #2d767f;
  color: #ecfffb;
  padding: 0.25rem;
  border: 2px solid #2d767f;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.navlink:hover {
  padding-bottom: 0.2em;
  border-bottom: 0.2em solid #2d767f;
  box-sizing: border-box;
}
#header-nav #contact-us:hover {
  background-color: #ecfffb;
  color: #2d767f;
}
/*active page underline on navbar*/
.active {
  padding-bottom: 0.2em;
  border-bottom: 0.2em solid #2d767f;
}
/*Hide hamburger in desktop view.*/
#hamburger,
.mobile-menu {
  display: none;
}
/*main content styling.*/
#container {
  clear: both;
  height: 100vh;
  display: grid;
  grid-template-columns: 25px 1fr 1fr 1fr 25px;
  grid-template-rows: 0.5fr 1.5fr 0.2fr;
  grid-template-areas:
    "hero hero hero hero hero"
    ". leftmain centermain rightmain ."
    "footer footer footer footer footer";
  column-gap: 3%;
}

#hero {
  grid-area: hero;
  padding-bottom: 50px;
  height: 300px;
  position: relative;
}
#hero img {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 1;
}
#hero-cover {
  width: 100%;
  height: 300px;
  background-color: rgba(25, 71, 79, 0.6);
  position: relative;
  top: 0;
  z-index: 2;
}
#cover-text {
  position: relative;
  z-index: 3;
  top: 100px;
  text-align: center;
}
#hero h2 {
  color: var(--light);
  width: 90%;
  padding: 0 25px;
}

/* #main {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
} */
#left-main,
#right-main,
#center-main {
  background-color: var(--darkblue);
  color: var(--light);
  border-radius: 10px;
  width: 100%;
  height: 450px;
  min-width: 350px;
  max-width: 400px;
}
.div-content {
  text-align: center;
}
.div-content h2 {
  color: var(--light);
  padding: 25px 10px 25px 10px;
  height: 50px;
}
.div-content img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
}
.div-content p {
  color: var(--light);
  padding: 25px 10px 25px 10px;
  letter-spacing: 1px;
  font-weight: 400;
}
/*Grid alignment for 3 main Div's*/
#left-main {
  grid-area: leftmain;
}
#right-main {
  grid-area: rightmain;
}
#center-main {
  grid-area: centermain;
}
/*Main Content Hover animation */
#left-main:hover,
#right-main:hover,
#center-main:hover {
  animation-name: maindiv-zoom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes maindiv-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

/*footer styling*/

/*sdasd*/
footer {
  grid-area: footer;
  line-height: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "footleft footcenter footright";
}
#left-footer {
  grid-area: footleft;
}
footer h3 {
  /* padding: 0 10px 0 10px; */
  font-size: 100%;
}
#right-footer {
  grid-area: footright;
}
#center-footer {
  grid-area: footcenter;
}
.footer-socials {
  text-align: center;
}
.footer-socials li {
  display: inline;
}
.footer-socials i {
  margin: 0;
  padding: 0 10px 0 10px;
  color: #1e6262;
  font-size: 150%;
}
/*Social hover animation*/
.footer-socials i:hover {
  animation-name: socials-zoom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes socials-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/*Media Queries*/

/*For Tablet Sized screens max width of 1200px*/

@media screen and (max-width: 1200px) {
  /*Nav bar changes to hamburger menu*/
  #hamitems {
    display: none;
  }
  label.mobile-menu {
    line-height: 50px;
    width: 50px;
    text-align: center;
    top: 2.5px;
  }
  #mobile-nav label {
    display: inline-block;
    position: absolute;
    color: var(--light);
    background: var(--darkblue);
    font-style: normal;
    font-size: 2em;
    right: 0;
    line-height: 70px;
  }
  /* Break down menu items into vertical */
  #header-nav ul {
    width: 100%;
  }
  #logo {
    font-size: 150%;
  }
  #header-nav li {
    box-sizing: border-box;
    line-height: 40px;
    display: block;
    width: 100%;
    color: var(--light);
    letter-spacing: 1px;
    border-top: 1px solid var(--primary);
    text-align: end;
    text-align: center;
  }
  /* Toggle Show/Hide Menu */
  #hamitems {
    display: none;
  }
  #mobile-nav input:checked ~ #hamitems {
    display: block;
    clear: both;
  }
  /*Hide default checkbox*/
  #hamburger {
    display: none;
  }
  #container {
    clear: both;
    height: 100vh;
    display: grid;
    grid-template-columns: 25px 1fr 1fr 1fr 25px;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 1fr 0.2fr;
    grid-template-areas:
      "hero hero hero hero hero"
      ". . leftmain . ."
      ". . centermain . ."
      ". . rightmain . ."
      "footer footer footer footer footer";
    column-gap: 3%;
    row-gap: 25px;
  }
  footer {
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      ". footcenter ."
      ". footright ."
      ". footleft .";
  }
}
