/*Import Google Font's Package.*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300;400;900&display=swap");

/*colour Variables*/
:root {
  --light: #ecfffb;
  --primary: #2d767f;
  --darkblue: #1e6262;
  --skyblue: #b4f1f1;
}

/*Root styles for the page, Reset browser added styles. targets all HTML elements.*/
* {
  margin: 0;
  padding: 0;
  border: none;
}
/*Body Styling*/
body {
  font-family: Roboto, Sans-serif;
  color: var(--primary);
  font-weight: 300; /*This needs checking.*/
  background-color: var(--light);
}
/*Typography Styling*/
h1,
h2,
h3 {
  font-family: Lato, sans-serif;
  color: var(--primary);
  letter-spacing: 4px;
  text-transform: uppercase;
}
/*Remove default Hyperlink styling.*/
a {
  text-decoration: none;
}
/*Styling for header*/

#logo {
  font-size: 260%;
  float: left;
  padding-left: 1.6rem;
  color: var(--darkblue);
}
/*set lineheight of whole header area.*/
#header-nav,
#logo {
  line-height: 75px;
}
#header-nav {
  padding-right: 1.6rem;
}
#header-nav ul {
  float: right; /*Send nav elements to the right hand side of the header.*/
}
#header-nav li {
  float: left; /*allows text to align from the left after being floated right*/
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding-left: 1.6rem;
  list-style-type: none;
}
#header-nav a {
  color: var(--primary);
  text-decoration: none;
}
/*Styling for contact us link. Seperate style from other nav elements.*/
#header-nav #contact-us {
  background-color: var(--primary);
  color: var(--light);
  padding: 0.25rem;
  border: 2px solid var(--primary);
  border-radius: 0.25rem;
  box-sizing: border-box;
}
/*Underline on hover of nav items.*/
.navlink:hover {
  padding-bottom: 0.2em;
  border-bottom: 0.2em solid var(--primary);
  box-sizing: border-box;
}
/*Colour swap on hover of "contact us" nav item.*/
#header-nav #contact-us:hover {
  background-color: var(--skyblue);
  color: var(--primary);
}
/*Underline active page on nav items.*/
.active {
  padding-bottom: 0.2em;
  border-bottom: 0.2em solid var(--primary);
}
/*Hide hamburger in desktop view.*/
#hamburger,
.mobile-menu {
  display: none;
}
/*General page layout, CSS Grid used for ease when compiling responsive design.*/
#container {
  clear: both;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.2fr;
  grid-template-areas:
    "hero hero hero"
    "main main main"
    "footer footer footer";
  column-gap: 3%;
}
/*stylign for index.html main content.*/
#home-container {
  grid-area: main;
  clear: both;
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr; /*The 0.1fr is an active page buffer.*/
  grid-template-rows: 1fr;
  grid-template-areas: ". leftmain centermain rightmain .";
}
/*Hero element styling, this is the same on all pages.*/
#hero {
  grid-area: hero;
  padding-bottom: 50px;
  height: 300px;
  position: relative;
}
#hero img {
  width: 100%;
  height: 300px;
  position: absolute;
  z-index: 1;
  object-fit: cover;
}
/*Div overlay over hero img to allow for an opaque colour change. */
#hero-cover {
  width: 100%;
  height: 300px;
  background-color: rgba(25, 71, 79, 0.6);
  position: relative;
  top: 0;
  z-index: 2;
}
#cover-text {
  position: relative;
  z-index: 3;
  top: 100px;
  text-align: center;
  /*animates zoom effect for covertext on loading page*/
  animation-name: covertext-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
/*Zoom hero text on page load.*/
@keyframes covertext-zoom {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
#hero h2 {
  color: var(--light);
  width: 90%;
  padding: 0 25px;
  margin: 0 auto;
}

/*Main Styling for content on index.html*/
.home-div {
  background-color: var(--darkblue);
  color: var(--light);
  border-radius: 10px;
  width: 80%;
  height: 475px;
}
.div-content {
  text-align: center;
}
.div-content h2 {
  color: var(--light);
  padding: 25px 10px 25px 10px;
  height: 50px;
}
.div-content img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}
.div-content p {
  color: var(--light);
  padding: 25px 10px 25px 10px;
  letter-spacing: 1px;
  font-weight: 400;
}
/*Grid alignment for 3 main Div's*/
.left-main {
  grid-area: leftmain;
}
.right-main {
  grid-area: rightmain;
}
.center-main {
  grid-area: centermain;
}
/*center divs within grid allignment for main content area.*/
#home-container div {
  margin: 0 auto;
  border-radius: 5px;
}

/*Main Content Hover animation */
.home-div:hover {
  animation-name: maindiv-zoom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/*on mouse hover div's scale up, emphasises the fact they are a link.*/
@keyframes maindiv-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
/*Styling for */

.page-content {
  grid-area: main; /*places this content into main section of CSS grid layout.*/
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
}

.content-left img {
  float: left;
  margin-right: 10px;
}
.content-right img {
  float: right;
  clear: right;
}
.ourmission-content-left {
  text-align: left !important;
}

.content {
  width: 60%;
  padding: 20px 25px;
  border: 1px solid var(--darkblue);
  border-radius: 5px;
  margin: 10px 25px;
  background-color: var(--darkblue);
}
.content h3 {
  padding-bottom: 10px;
  color: var(--light);
}
.content p {
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--light);
  padding: 5px;
}
.content-hr {
  margin: 5px 0;
  background-color: var(--primary);
  height: 2px;
  width: 100%;
  z-index: 3;
}
.content-left {
  clear: right;
  float: left;
  text-align: right;
}
.content-right {
  clear: left;
  float: right;
  text-align: left;
}
.content-center {
  clear: both;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}
.content-center a {
  text-decoration: none;
  color: var(--darkblue);
  font-weight: 500;
}
.content-center a:hover {
  border-bottom: 1px solid var(--darkblue);
}

/*Contact Us Page Styling*/
.form-container {
  grid-area: main;
  background-color: rgba(25, 71, 79, 0.8);
  height: 600px;
  width: 600px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
.contactus-form {
  position: absolute;
  margin: 0 auto;
  color: var(--light);
  width: inherit;
  height: inherit;
}
.formlabel {
  color: var(--light);
  padding: 15px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.messageinput input[type="text"] {
  height: 50px;
}
input[type="text"],
input[type="email"],
textarea {
  color: var(--light);
  margin: 10px;
  width: 90%;
  height: 2rem;
  border: 1px solid var(--darkblue);
  border-radius: 0.4rem;
  color: var(--darkblue);
  padding: 5px 10px;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 100%;
}

input[type="text"]:hover,
input[type="email"]:hover {
  background-color: var(--skyblue);
}

input[type="submit"] {
  clear: both;
  position: relative;
}
.formbutton {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--skyblue);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 500;
}
.formbutton:hover {
  background-color: var(--light);
}
form > textarea {
  max-height: 150px;
  height: 150px;
}
/*footer styling*/

/*footer*/
footer {
  grid-area: footer;
  line-height: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "footleft footcenter footright";
}
#left-footer {
  grid-area: footleft;
}
#left-footer h3:hover {
  color: #f3558e;
  transition: all 1s;
  transform: rotateX(360deg);
}
footer h3 {
  /* padding: 0 10px 0 10px; */
  font-size: 100%;
}
#right-footer {
  grid-area: footright;
}
#center-footer {
  grid-area: footcenter;
}
.footer-socials {
  text-align: center;
}
.footer-socials li {
  display: inline;
}
.footer-socials i {
  margin: 0;
  padding: 0 10px 0 10px;
  color: var(--darkblue);
  font-size: 150%;
}
/*Social hover animation*/
.footer-socials i:hover {
  animation-name: socials-zoom;
  color: var(--primary);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes socials-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

/*Media Queries*/
@media screen and (max-width: 1300px) {
  .home-div {
    width: 325px;
  }
}
/*For Tablet Sized screens max width of 1200px*/
@media screen and (max-width: 1200px) {
  /*Nav bar changes to hamburger menu*/
  #hamitems {
    display: none;
  }
  label.mobile-menu {
    line-height: 50px;
    width: 50px;
    text-align: center;
    top: 2.5px;
  }
  #mobile-nav label {
    display: inline-block;
    position: absolute;
    color: var(--light);
    background: var(--darkblue);
    font-style: normal;
    font-size: 2em;
    right: 0;
    line-height: 70px;
    cursor: pointer;
  }
  /* Break down menu items into vertical */
  #header-nav ul {
    width: 100%;
    text-align: center;
  }
  #logo {
    font-size: 150%;
  }
  #header-nav li {
    box-sizing: border-box;
    line-height: 40px;
    display: block;
    width: 100vw;
    color: var(--light);
    letter-spacing: 1px;
    border-top: 1px solid var(--darkblue);
    text-align: center;
    padding-left: 0;
  }
  /* Toggle Show/Hide Menu */
  #hamitems {
    display: none;
  }
  #mobile-nav input:checked ~ #hamitems {
    display: block;
    clear: both;
  }
  /*Hide default checkbox*/
  #hamburger {
    display: none;
  }
  #home-container {
    grid-template-columns: 1fr 1fr 0.2fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 0.2fr;
    grid-template-areas:
      ". leftmain . centermain ."
      ". rightmain rightmain rightmain ."
      ". . . . .";
    row-gap: 3%;
  }
  footer {
    clear: both;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas:
      "footcenter footcenter footcenter"
      "footright footright footright"
      ". footleft .";
  }
  footer div {
    padding-top: 10px;
  }
}
/*display for all screen sixes below 750px, taking into account most mobile devices. */
@media screen and (max-width: 750px) {
  #container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
  }
  #home-container {
    grid-template-columns: 0.8fr;
    grid-template-rows: 1.5fr 1.5fr 1.5fr 0.2fr;
    grid-template-areas:
      "leftmain"
      "centermain"
      "rightmain"
      ".";
    margin-bottom: 10px;
    margin: 0 auto;
  }
  .home-div {
    width: 325px;
  }
  .contactus-form {
    margin: 0 auto;
  }
  .form-container {
    width: 300px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 3px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    color: var(--light);
    width: 90%;
    height: 2rem;
    border: 1px solid var(--darkblue);
    color: var(--darkblue);
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 100%;
  }
  /*Code credit:https://techstacker.com/how-to-responsive-youtube-videos/ */
  /*Helping make the Youtube embeded Video responsive on mobile devices.*/
  .youtube-video {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .youtube-video::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }

  .youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /*end of code credit.*/
  .content {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .content-left,
  .content-right {
    clear: none;
  }
  .ourmission-content-left,
  .ourmission-content-right {
    text-align: center !important;
  }
  .content-left img,
  .content-right img {
    clear: none;
    float: none;
    margin: 0 auto;
  }
  .content-image {
    margin: 0 auto;
    position: relative;
  }
  .content p {
    padding-top: 10px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  #logo {
    font-size: 100%;
  }
  .home-div {
    width: 250px !important;
    height: 500px;
    border-radius: 0;
  }
  .content {
    width: 70%;
  }
}
